extends base

block content
    .modal
        div
            .close-icon#closeButton
                svg(xmlns='http://www.w3.org/2000/svg', height='24px', viewBox='0 -960 960 960', width='24px', fill='#5f6368')
                    path(d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z')
            form.form-class#case-form(action='javascript:void(0)', method='post' , style="margin-top:40px;")
                if c && c.caseId
                    div
                        label(for='case' class='form-label' style='color:red;')
                            strong= c.caseId || ''
                .form-row
                    label.form-label(for='client')
                        strong Client

                    // Input field with or without a value, depending on whether c.client exists
                    if c && c.client
                        input#client.form-input(type='text' name='client' value=c.client.name readonly)
                    else
                        input#client.form-input(type='text' name='client' placeholder='Search Name' autocomplete='off' list='clients' data-client-input)

                    // Datalist options, always shown, but only generated when c.client doesn't exist
                    datalist#clients
                        if !(c && c.client)
                            each client in clients
                                option(value=client.name data-id=client._id)




                .form-row-flex
                    .form-col-flex-col
                        label.form-label
                            strong Email: &nbsp;
                        label.form-label(for='email-address' name='email-address-label' style='width:215px' data-email-label)
                            = c && c.client.email ? c.client.email : ''
                    .form-col-flex-col
                        label.form-label
                            strong Phone: &nbsp;
                        label.form-label(for='phone-number' name='phone-number-label' style='width:215px' data-phone-label)
                            = c && c.client.phone ? c.client.phone : ''
                    .form-col-flex-col
                        label.form-label
                            strong Visa Type: &nbsp;
                        label.form-label(for='visa-type' name='visa-type-label' style='width:215px' data-visa-type-label)
                            = c && c.client.visaType ? c.client.visaType : ''
                .form-row                  
                    label.form-label(for='case-description')
                        strong Case Description
                    textarea.form-input#case-description(name='case-description'  rows='2')= c && c.caseDescription || ''
                .form-row-flex
                    .form-col-flex
                        label.form-label(for='case-type')
                            strong Case Type
                        select.form-input#case-type(name='case-type')
                            each caseType in ['General Inquiry','Ongoing Visa Process','Callback Request','Update Request','Payment Related','Others']
                                - const isSelected = c && (c.caseType === caseType) ? 'selected' : ''
                                | <option  #{isSelected}>#{caseType}</option>

                    .form-col-flex
                        label.form-label(for='case-status')
                            strong Case Status
                        select.form-input#case-status(name='case-status')
                            each caseStatus in ['In Progress','Pending','Under Review','Completed','Referred','Cancelled','Closed-Win','Closed-Lost']
                                - const isSelected = c && (c.caseStatus === caseStatus) ? 'selected' : ''
                                | <option value="#{caseStatus}" #{isSelected}>#{caseStatus}</option>

                    .form-col-flex
                        label.form-label(for='case-consultant')
                            strong Consultant
                        select.form-input#case-consultant(name='case-consultant')
                            each consultant in consultants
                                - const isSelected = c && (c.assignedTo?.name === consultant.name) ? 'selected' : ''
                                | <option value="#{consultant.name}" #{isSelected}>#{consultant.name}</option>

                    .form-col-flex
                        label.form-label(for='case-priority')
                            strong Priority
                        select.form-input#case-priority(name='case-priority')
                            each priority in ['P1','P2','P3']
                                - const isSelected = c && (c.casePriority === priority) ? 'selected' : ''
                                | <option value="#{priority}" #{isSelected}>#{priority}</option>
                                
                .form-row               
                    label.form-label(for='case-note')
                        strong Notes
                    textarea.form-input#case-note(name='case-note', rows='4')
                    
                if c && c.notes.length > 0
                    label.form-label(for='notes-history')
                        strong Notes History
                    .notes-history
                        each note in c.notes
                            .form-row-flex(style="gap:1rem;")
                                strong
                                    p(style="font-size:1.3rem; text-wrap:nowrap;")= getDateTimeString(note.writtenAt)
                                div(style="display: flex; flex-grow: 1; gap:1rem; ")
                                    p(style="text-decoration: underline;font-size:1.3rem;  text-wrap:nowrap;")
                                        | #{note.writtenBy ? note.writtenBy.name : 'No writer data'}
                                        pre= note.note

                .form-row-flex
                    button.btn-medium.btn-secondary#case-reset-button(type='reset')
                        p Reset
                    button.btn-medium.btn-primary#case-submit-button(type='submit')
                        p= c && c.caseId ? 'Update Case' : 'Create Case'
                
                .toast.sr-only
                        .toast-close-icon
                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368")
                                path(d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z")
                        .form-col-flex.missing-fields-div
                            h3 Missing Fields
                            h4 Please fill the missing fields
                            .missing-fields
                        .form-col-flex.invalid-fields-div
                            h3 Invalid Fields
                            h4 Please fill the Invalid Fields
                            .invalid-fields

                    
                
                
