extends base

block content 
    .table-row-horizontal
        h1.heading My Clients

        if totalPages > 1
            .pagination 
                // Disable the "Previous" button if the current page is the first page
                button.btn-primary.btn-medium#prev-btn(
                    disabled=currentPage === 1
                ) &#129092; Previous

                each pageNum in Array.from({ length: totalPages }, (_, i) => i + 1)
                    - const cls = pageNum === currentPage ? 'active' : ''
                    button.btn-page(class=cls, data-page=pageNum) #{pageNum}

                // Disable the "Next" button if the current page is the last page
                button.btn-primary.btn-medium#next-btn(
                    disabled=currentPage === totalPages
                ) Next &#129094;

        div
            label.form-label(for='sort') Sort
                | &nbsp; &nbsp;
                select.form-input#sort-input-client(name='sort')
                    each sortOption in ['','Name - (A-Z)','Name - (Z-A)', 'Newest', 'Oldest','Visa Type - (A-Z)']
                        - const isSelected = sortOption === sortParams ? 'selected' : '';
                        <option #{isSelected}>#{sortOption}</option> 
 


    table.table.clients-table
        thead
            tr.table-header
                th Client ID
                th Client Name
                th Phone Number
                th Email Address
                th Visa Type
                th Created
                th Latest Case#
                th Upcoming Appointment
                th Consultant
        tbody
            each client in clients
                tr.table-row
                    td
                        a(href=`/client/${client.slug}`)= client.id
                    td(style=client.isLead ? "color: var(--color-green-600); font-weight: bolder;" : "")= client.name
                    td(style="white-space: nowrap;")= client.phone
                    td(style="white-space: nowrap;")= client.email
                    td= client.visaType
                    td= getDateTimeString(client.createdAt)
                    td(style="white-space: nowrap;")
                        if client.cases && client.cases.length > 0
                            a(href=`/case/${client.cases[client.cases.length - 1].caseId}`) #{client.cases[client.cases.length - 1].caseId}
                        else
                            | N/A
                    td N/A
                    td(style="white-space: nowrap;")= client.consultant.name
    .table-row-horizontal
        .legend
            .legend-span
            p Leads

